/* Set background image for blog page */
.blog-page {
    background-image: url('/images/blog-background.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 8px;
    padding: 40px;
    margin: 20px;
    color: black;
    font-family: Arial, sans-serif;
}

/* Image size for all images on blog page */
.blog-size-image {
    width: 260px;
    height: 180px;
}


/* Contact Us */
/* Style Contact Us form*/
.contact-us {
    background-image: url('../images/contact-us.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 20px; 
    border-radius: 8px;
}

.feedback-input {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 10px;
}

.feedback-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submit-btn {
    width: 100%;
}

.map-container {
    margin-top: 30px;
}

/* Style for Contact-Us modal confirmation */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-footer {
    justify-content: space-between;
}

.modal-body {
    font-size: 16px;
}

/* Style for 'Thank You' modal confirmation */
#thankYouModal .modal-header {
    background-color: #28a745;
}

#thankYouModal .modal-footer {
    justify-content: center; 
}

#thankYouModal .modal-body {
    font-size: 18px;
}

/* Subscription service - start */

/*adapted from https://www.w3schools.com/cssref/pr_background-image.php and https://stackoverflow.com/questions/12605908/change-background-image-opacity*/
.subscription-section {
  background-image: url("../images/coffee-beans.avif");
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Subscription service - end */